/*@import url("bootstrap-reboot.css")*/
@import url("reset.css")

body {
    font-size: 1.5rem;
    line-height: 2rem;
}

.wrapper {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    text-align: right;
}

h1,h2,h3,h4,h5,h6 {
    text-align: right;
    font-family: sans-serif;
    color:rgb(255, 180, 205);
}

i,em {
    color: rgb(255, 255, 125);
    font-style: italic;
}

article {
    border: 5px solid #7bff00;
    border-radius: 30px;
    margin: 30px;
    padding: 30px;
}
strong {
    color:rgb(115, 250, 255);
}

.mjx-chtml,.MathJax {
    color: rgb(255, 190, 105);
}